@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
    box-shadow: 1px 1.1px 2px 2px rgb(155, 155, 155);
    border-radius: 14px;
    padding: inherit;
    padding-bottom: 1vh;
    width: 90%;
    margin: 2.5vh 0px;
}

.singleAnswerTime {
    color: gray;
    flex-basis: 7vw;
}

.inputBox {

}

.questionText {
    font-family: 'Roboto';
    font-weight: 500;
    padding-left: 0.5vw;
    font-size: medium;
}

.singleAnswer {
    display: flex;
    flex-direction: row;
    padding-top: 0.7vh;
}

.singleAnswerText {
    padding-left: 0.5vw;
    font-family: 'Roboto';
    flex-basis: 51vw;
    font-size: medium;
}

.boldText {
    font-family: 'Roboto';
    font-weight: 500;
}

.answerButton {
    padding-left: '5px';
    font-size: large;
}
