@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.courseDescribtion {
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}

.headArea {
    background-color: white;
    margin-bottom: 1%;
}

.cardsContainer {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 14px;
    box-shadow: 1px 7px 30px 15px rgba(253, 253, 253, 0.4)
}

body {
    background-color: #F0F2F5;
}