@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');



.contentWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: column;
  background: rgb(255,150,214);
  background: linear-gradient(45deg, rgba(255,150,214,1) 0%, rgba(20,4,88,1) 100%);
}

.barWrapper {
  width: 45%;
  margin-top: 2vh;
}

.logo {
  margin: 9vh, auto;
  color: #2A4C6B;
  width: 27%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.discussion {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: x-large;
  align-self: flex-start;
}

.qaTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.discussionTitle {
  font-weight: 500;
  align-self: start;
  font-size: x-large;
  padding-left: 4.5vw;
}

.recommandation {

}
