@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.titleLandingPage {
    position: absolute;
    left:2%;
    font-size: x-large;
    color: #a78cf2;
    font-family: 'Roboto', sans-serif;
}


.barWrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
} 

.navBar {
  top:100px;
}