.barContainer {
    display: flex;
    width: 35vw;
    justify-content: center;
    align-items: center;
    margin: 0 0.2vw 0;
}

.twoBarsRow {
    display: flex;
    justify-content: center;
    margin: 1.2vh;
}

.bars {
    display: flex;
    flex-direction: column;
}