.barContainer {
    display: flex;
    width: 32vw;
    justify-content: center;
    align-items: center;
    margin: 0 4vw 0 2vw;
}

.twoBarsRow {
    display: flex;
    justify-content: center;
    margin: 1.2vh;
}

.bars {
    display: flex;
    width: 100%;
    flex-direction: column;
}