.content {
    position: relative;
    left: -2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipContent {
    opacity: 0.7;
    border-style: solid;
    background-color: white;
    border-color: aliceblue;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipContent p{
    font-size: smaller;
}


.dropdown {
    margin: 5% 13% 8%;
}

.dropMenuAndContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.ratingItem {
    width: 140px;
    height: 70px;
    margin: 10%;
    padding-top: 5%;
    background-color: #dabcff;
    border-radius: 5px;
}